body {
    width: 100vw;
}

/* Header Styling */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-title {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 22px;
}

.logo {
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 22px;
}

.logo-img {
    width: 100%;

}

.header-name {
    font-family: 'Skranji', cursive;
    font-size: 4.5em; 
    margin: 0;
}

.header-title {
    margin: 0;
    font-size: 2.3em;
    font-family: 'Nunito', sans-serif;
}

/* Intro Image Section  */
hr {
    width: 100%;
}

.intro-img-container {
    width: 100%;
}

.intro-img {
    width: 100%;
    height: 10%;
}

/* Image Grid Section */
.photo-grid-section {
    text-align: center;
}

.photo-grid-intro {

}

.photo-grid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Image Card Section */
.grid-card {
    width: 100%;
}

.grid-img {
    width: 100%;
}