body {
    width: 100vw;
    margin: 0;
    font-size: 16px;
}

.container {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Styling */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-title {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 5%;
}

.logo {
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}

.logo-img {
    width: 100%;
}

.header-name {
    font-family: 'Skranji', cursive;
    font-size: 1.7em; 
    margin: 0;
}

.header-title {
    margin: 0;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
}

/* Intro Image Section  */
hr {
    width: 100%;
    height: 5px;
    margin-bottom: 25px;
    background-color: gray;
}

.intro-img-container {
    width: 100%;
}

.intro-img {
    width: 100%;
    height: 10%;
}

/* Image Grid Section */
.photo-grid-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
}

.photo-grid-intro {
    font-size: 2.3em;
    font-family: 'News Cycle', sans-serif;
    margin: 5% 0;
}

.photo-grid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Image Card Section */
.grid-card {
    width: 100%;
}

.grid-img {
    width: 100%;
}

.img-title {
    font-size: 2em;
    font-family: 'News Cycle', sans-serif;
    display: block;
    margin: 0;
    padding: 0;
}

.grid-img-link {
    font-size: 1em;
    font-family: "Arial", sans-serif;
    display: block;
    margin: 2% 0 13% 0;
}

/* Tablet Responsive Styling
@media screen and (max-width: 768px) {
    body {
        background-color: blue;
    }
    .name-title {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-right: 25px;
    }
    
    .logo {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 22px;
    }

    .header-name {
        font-family: 'Skranji', cursive;
        font-size: 4.6em; 
        margin: 0;
    }
    
    .header-title {
        margin: 0;
        font-size: 2.5em;
        font-family: 'Nunito', sans-serif;
    }
} */